#lside {
    position: absolute;
    left:0%;
    top:0%;
    width:10%;
    height:100%;
}
#rside {
    position: absolute;
    right:0%;
    top:0%;
    width:10%;
    height:100%;
}
.tops{
    position: absolute;
    top:0%;
    width:14%;
    height:5%;
    text-align: center;
} 
#top1{
    position: absolute;
    left:10%;
}
#top2{
    position: absolute;
    left:24%;
    text-align: left;
}
#top3{
    position: absolute;
    left:38%;
}
#top4{
    position: absolute;
    left:50%;
}
#top5{
    position: absolute;
    left:63%;
}
#top6{
    position: absolute;
    left:76%;
}
.text{
    font-size: 20px;
}
.line{
    width: 80%;
    position: absolute;
    left: 10%;
}
#topline{
    position: absolute;
    top:5%;
}
#picp{
    position: absolute;
    top: 10%;
    left:10%;
    width: 20%;
    height: 30%;
}
#pictext{
    width: 16%;
    position: absolute;
    top:47%;
    left:10%;
    text-align:center;
}
.prowtext{
    width:60%;  
    height:10%;
    position: absolute;
    left:30%;  
}
#ptext1{
    position: absolute;
    top:10%;
}
#ptext2{
    position: absolute;
    top:25%;
}
#ptext3{
    position: absolute;
    top:35%;
}
#ptext4{
    position: absolute;
    top:45%;
}
#ptext5{
    position: absolute;
    top:58%;
}
#ptext6{
    position: absolute;
    top:65%;
}
#ptext7{
    position: absolute;
    top:78%;
}
#ptext8{
    position: absolute;
    top:88%;
}
#footline{
    position:absolute;
    top:95%;
}
#foottext{
    position: absolute;
    top:100%;
    width: 100%;
    text-align: center;
}